#search-form-container {
    width: 80%;
    margin: 0 auto;
}

#search-form {
    max-width: 500px;
    margin: 0 auto;
}

.search-form-input input {
    text-indent: 35px;
}

.search-form-input label {
    text-indent: 35px;
}

.search-form-input i {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 30px;
    z-index: 2;
}

.search-form-input a {
    position: absolute;
    right: 15px;
    top: 17px;
}

#spinner-container {
    height: 408px;
}

.rotate-icon::before {
    transform: rotate(90deg);
}
