#search-form-container {
    width: 80%;
    margin: 0 auto;
}

#search-form {
    max-width: 500px;
    margin: 0 auto;
}

.search-form-input input {
    text-indent: 35px;
}

.search-form-input label {
    text-indent: 35px;
}

.search-form-input i {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 30px;
    z-index: 2;
}

.search-form-input a {
    position: absolute;
    right: 15px;
    top: 17px;
}

.spinner-container {
    height: 408px;
}

.rotate-icon::before {
    transform: rotate(90deg);
}

#facilities-tab .card-header .bi::before {
    transition: transform 0.5s;
}

.rotate-icon-180::before {
    transform: rotate(180deg);
}

#image-thumbnails img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.next-image-button {
    position: absolute;
    right: 0;
}

.previous-image-button {
    position: absolute;
    left: 0;
}

.next-image-button i::before, .previous-image-button i::before {
    color: white;
    mix-blend-mode: difference;
    font-size: 64px;
    font-weight: 600 !important;
}

#image-thumbnails {
    overflow: hidden;
    flex-wrap: nowrap;
}

@media (min-width: 992px) {
    #image-thumbnails {
        overflow: unset;
        flex-wrap: wrap;
    }
}

.gallery {
    max-height: 300px;
}
